.board-container {
    max-width: 250px;
    margin: 30px auto 20px;
    display: flex;
    flex-wrap: wrap;
}

.block {
    width: 25px;
    height: 25px;
    background-color: #F3F3F3;
    text-align: center;
    line-height: 25px;
}

.body {
    background-color: greenyellow;
}

.head {
    background-color: green;
}

.start-stop-container {
    text-align: center;
}

.board-message {
    width: 450px;
    margin: 0 auto;
    text-align: center;
}

.win-message {
    color: green;
    background-color: #bcfc5a;
}

.fail-message {
    color: red;
    background-color: #e89a9a;
}