.board-container {
    max-width: 250px;
    margin: 30px auto 20px;
    display: flex;
    flex-wrap: wrap;
}

.block {
    width: 25px;
    height: 25px;
    background-color: #F3F3F3;
    text-align: center;
    line-height: 25px;
}

.head {
    background-color: green;
}

.body {
    background-color: greenyellow;
}

.fruit {
    background-color: #e3b45f;
}

.start-stop-container {
    text-align: center;
}

.board-message {
    width: 450px;
    margin: 0 auto;
    text-align: center;
}

.invisible {
    visibility: hidden;
    pointer-events: none;
}

.end-game-modal::before {
    content: '';
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #666;
    opacity: .8;
    z-index: 0;
}

.end-game-container {
    background-color: #F3F3F3;
    padding: 30px;
    width: 90vw;
    max-width: 450px;
    height: 70vh;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.end-game-message {
    margin-bottom: 20px;
    font-size: 30px;
}

.end-game-restart {
    padding: 2px 30px;
    border-radius: 5px;
    background-color: #78c3b3;
    cursor: pointer;
}

.end-game-restart:hover {
    filter: brightness(1.1);
    transition: .3s;
}

.end-game-restart:active {
    filter: brightness(1.4);
}